.weather-container{
    flex:5;
    position: relative;
    max-width: 400px;
    height: 100;
}

.currentWeather{
    display: block;
    text-align: center;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 0.5rem;
}

.currentWeather p{
    padding: 2px;
}
.cityname{
    font-size:1.25rem;
    font-weight: bold;
}
.temp{
    font-size: 1.75rem;
    font-weight: bold;
}
.forecast-panel{
    display:flex;
    overflow-x: scroll;
    margin-top:3rem;
    scrollbar-width: thin;
   padding-bottom: 1rem;
}

.forecast{
    display: inline-block;
    text-align: center;
    width:50px

}