.weather-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 500px;
    height: 500px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.currentWeather{
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    /* background-color:  rgba(106,121,198,1); */
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid black; */
    border-radius: 1rem;
    padding: 0.5rem;
    color:rgb(255,255,255);
}

.currentWeather p{
    padding: 2px;

}

.currentWeather p img{
    width: 80px;
}
.cityname{
    font-size:1.25rem;
    font-weight: bold;
}
.temp{
    font-size: 1.75rem;
    font-weight: bold;
}
.weatherInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    color:rgb(255,255,255);
    border-radius: 1rem;
    padding: 5px;
}
.weatherInfo p{
    text-align: center;
}
.windInfo{
    display: flex;
    gap: 5px;
}
.forecast-panel{
    display:flex;
    overflow-x: scroll;
    /* margin-top: 5rem; */
    scrollbar-width: thin;
   padding-bottom: 0.7rem;
}

.forecast{
    display: inline-block;
    text-align: center;
    width:50px

}

@media (max-width:500px){
    .forecast-panel{
       width: 350px}
}

@media (max-height: 750px){
    .weather-container{
      height:400px
    }
  }