.weather-container{
    /* flex:5; */
    position: relative;
    max-width: 500px;
    height: 100;
}

.currentWeather{
    display: block;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    /* background-color: rgba(16, 90, 90, 0.8); */
    width: 40%;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    color:rgb(0, 0, 0);
}

.currentWeather p{
    padding: 2px;

}
.cityname{
    font-size:1.25rem;
    font-weight: bold;
}
.temp{
    font-size: 1.75rem;
    font-weight: bold;
}
.forecast-panel{
    display:flex;
    overflow-x: scroll;
    margin-top: 5rem;
    scrollbar-width: thin;
   padding-bottom: 1rem;
}

.forecast{
    display: inline-block;
    text-align: center;
    width:50px

}

@media (max-width:500px){
    .forecast-panel{
       width: 350px}
}