.App{
  height: 100vh;
  background:#424242;
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  color: white;
}

.main{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height:90%;
  width: 100%;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background:#17171c;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  z-index: 2;
}
.title{
  background-color: #311B92;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 16px;
}
h1{
  margin: 1rem  0;
}